<h1>SalesforceUsers#show</h1>

<p>Name: <%= @sfuser.Id %></p>
<p>Name: <%= @sfuser.Name %></p>
<!-- 
<p>Username: < % = @sfuser.Username %></p>
<p>Name: < % = @sfuser.Name %></p>
<p>Alias: < % = @sfuser.Alias %></p>
-->
-----<br>
<%= link_to "Back", salesforce_users_path  %>
